
<!DOCTYPE html>

<head>
    <title>Json XPath</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="title" content="Json XPath" />
    <meta name="description" content="XPath search for json documents" />
    <meta content="pt" http-equiv="Content-Language" />
    <meta content="0" http-equiv="Expires" />
    <meta content="no-cache, must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Giulliano Morroni" />
    <meta name="language" content="portuguese" />
    <meta name="distribution" content="Global" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="General" />
    <meta name="geo.country" content="Brasil" />
    <meta name="dc.language" content="pt_BR" />
</head>

<html>
  <body>
    <div id="divPrincipal" style="border:0px solid #000000; margin-left: -460px; margin-top: -360px; width: 900px; left:50%; top:50%; position: absolute;">
      <h3>O que é:</h3>
      JPath é uma linguagem para busca de chaves e valores em documentos JSON, inspiranda na especificação do XPath 
      (linguagem de consulta para documentos XML baseado em "caminhos").
      <br/>
      <a href="./json_path/how_to/en">how-to (in one minute)</a><br/>
      <!--<a href="/how_to/pt">tutorial (aprenda em um minuto)</a><br/>-->

      <div id="divCentral" style="border:1px solid #000000; margin: 40px 10px 0px 3px; width:850px; height:450px; position: relative;border-radius: 25px; padding: 10px;">
		<br/><br/>
		<form action="./json_path/query/" method="post">
			{% csrf_token %}
			Place your json:
			<textarea rows="10" name="data" id="data" cols="100" placeholder="{ results:[id:1, id:2, id:3] }">{{data}}</textarea>
			<br/><br/>
			Type your query: <input type="text" name="query" id="query" placeholder="$results$id" size="100" value="{{query}}">
			<br/>
			<input type="submit" value="consultar" />
		</form>
		<br/>
		Result:
		<div id="result" style="margin-left: 10px;">
		    {% for r in result %}
			    {{ r }} <br>
		    {% endfor %}
		    <br/><br/>
		    <a href="./json_path/graph/simple_path.png">graph image</a>
		</div>
      </div>

      <div style="border:1px solid #000000; margin: 10px 10px 0px 3px; width:850px; position: relative;border-radius: 25px; padding: 10px;">
		<h3>Um pouco mais sobre XML e JSON:</h3>
		Diferente do formato XML o JSON é dinâmico, não possui regras quanto ao caminho. Entenda por caminho uma relação pai/filho, por exemplo:
		<br/>
		<textarea rows="7" cols="34" readonly="readonly" style="border: none">
<pessoa>
  <dados>
    <nome> Giulliano <nome>
    <idade> 20 </idade>
  </dados>
</pessoa>
		</textarea>
	
		<br/>
		Neste exemplo que representa um formato XML, o caminho para se descobrir o nome é "pessoa:dados:nome" 
		(<a href="http://pt.wikipedia.org/wiki/Grafo" target="_blank">teoria dos grafos</a>)
	
		<br/><br/>
		Este mesmo exemplo em JSON seria:<br/>

		<b>{"pessoa": {"dados" : {"nome":"Giulliano", "idade":20} } }</b>
	
		<br/><br/>
		A diferença entre um e outro, é que um XML, normalmente, é acompanhado de um documento chamado de "Schmema". Cuja função é ditar a estrutura do XML. Ou seja, eu não poderia alterar a estrutura movendo o campo "nome" para fora do campo "dados"
	
		<br/>
		<textarea rows="5" cols="34" readonly="readonly" style="border: none">
<pessoa>
	<nome> Giulliano <nome>
	<idade> 20 </idade>
</pessoa>
		</textarea>

		<br/><br/>
		Já a estrutura JSON não possui um ditador, sua estrutura é livre, o que tornou este formato popular entre desenvolvedores de software.
      </div>
    </div>

  </body>
</html>
